# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# 가상환경
venv/
.venv/
env/

# 환경변수
.env
.env.*

# 기타
참고.txt
프론트.txt

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
